.canvas {
    position: relative;
    margin-top: 50px;
}

text {
    fill: black !important;
}

title {
    color: black !important;
}

// .Node-module_rect__1Eal3 {
//     fill: white !important;
// }

.header-topology {
    cursor: pointer;
    padding-left: 25%;
    padding-top: 15px;
}

.Edge-module_clicker__3cdd0 {
    stroke: #00ffff;
    stroke-width: 2px;
}

button {
    display: block;
    width: 100%;
    margin: 5px 0px
}


// Canvas-module_container__22cN4