$white: #fff !default;
$black: #000 !default;
$stepper-color-neutral: #ccc !default;
$stepper-color-active:  #75b2f5 !default;
$stepper-color-secondary: #4D637B !default;
$stepper-color-complete: #05ae0e !default;
$stepper-container-width: 100% !default;
$stepper-step-width-height: 64px !default;
$stepper-step-font-size: 24px !default;
